@import "./colors";
@import "./bullets";
@import "./fonts";
@import "./backgrounds";
@import "./overrides";
@import "./layout";
@import "./margins";
@import "./paddings";
@import "./borders";
@import "./flexbox";
@import "./shame";

h1, h2 {
  font-family: 'Aniron';
}

h1 {
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.8em;
  margin-bottom: 1em;
}

h2 {
  font-size: 29px;
}

pre {
  font-size: 120% !important;
  border: 0px !important;
  border-radius: 5px;
  background: rgba(255, 255, 255, 80%) !important;
}

li {
  margin: .6em;
  font-size: 1.2em
}

li:before {
  content: '\269C';
  margin-right: 14px;
}

a {
  border: 0px !important;
  text-decoration: none !important;
}
