.l0 {
  left: 0px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fit {
  max-width: 100%;
}

.inline-block {
  display: inline-block !important;
}

.full-width {
  width: 100%;
}
