.bespoke-backdrop-before, .bespoke-backdrop-after {
  transform: translate3d(0%, 0, 0) !important;
}

.bespoke-backdrop-active {
  opacity: 0.3 !important;
}

.bespoke-progress-bar {
  opacity: 0.5;
}

.bespoke-slide {
  height: 580px;
  margin-top: -290px;
}

@keyframes mymove {
  0% {
    opacity: 0;
    max-width: 0px;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-width: 600px;
  }
}

.unique-bullet, .unique-bullet {
  display: none !important;
}

.unique-bullet.bespoke-bullet-active {
  display: flex !important;
}

.unique-bullet.bespoke-bullet-active:not(:first-child) {
  animation: mymove 2s;
}
